<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pptcontroller"
    android:versionCode="1"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="8" />

    <supports-screens android:smallScreens="true"
                android:normalScreens="true" android:largeScreens="true"
                android:resizeable="true" android:anyDensity="true" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="com.pptcontroller.global.PPTController"
        >
        <activity
            android:name="com.example.pptcontroller.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pptcontroller.WifiConnectionActivity"
            android:label="@string/title_activity_wifi_connection"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.pptcontroller.WifiIPDirectActivity"
            android:label="@string/title_activity_wifi_ipdirect"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.pptcontroller.Execution"
            android:label="@string/title_activity_execution" 
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="com.example.pptcontroller.BlueToothConnectionActivity"
            android:label="@string/title_activity_blue_tooth_connection"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.pptcontroller.SetupActivity"
            android:label="@string/title_activity_setup"
            android:screenOrientation="landscape" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" /> 
	<uses-permission android:name="android.permission.BLUETOOTH" /> 
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> 
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />    
</manifest>
